/* line 8, scss/fragments/_global.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

/* line 15, scss/fragments/_global.scss */
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  min-height: 100%; }

/* line 21, scss/fragments/_global.scss */
body {
  width: 100%;
  overflow-x: hidden;
  background: radial-gradient(285.93% 161.25% at -11.11% 0%, #010039 23.75%, #8933FF 89.37%);
  background-attachment: fixed; }

/* line 27, scss/fragments/_global.scss */
::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

/* line 31, scss/fragments/_global.scss */
::-webkit-scrollbar-track {
  background-color: #010039; }

/* line 34, scss/fragments/_global.scss */
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background: #8933FF; }

/* line 39, scss/fragments/_global.scss */
::-webkit-scrollbar-thumb:hover {
  transition: all .3s ease-out;
  background: linear-gradient(transparent, #8933FF);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5); }

/* line 44, scss/fragments/_global.scss */
hr {
  width: 0px;
  height: 0px;
  border: 0px; }

/* line 1, scss/fragments/_header.scss */
header {
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #010039;
  min-width: 320px;
  position: fixed;
  top: 0;
  z-index: 900; }

/* line 13, scss/fragments/_header.scss */
.header__logo {
  width: 238px;
  height: 44px;
  margin-top: 6.5px;
  margin-left: 18px;
  margin-bottom: 6.5px;
  display: block;
  align-self: center; }

/* line 22, scss/fragments/_header.scss */
.header__logo--container {
  display: flex;
  align-items: center;
  text-decoration: none; }

/* line 27, scss/fragments/_header.scss */
.header__logo img {
  width: 29.08px;
  height: 38px; }

/* line 31, scss/fragments/_header.scss */
.header__logo--title {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  margin-left: 14px; }

/* line 1, scss/fragments/_sidebar.scss */
.opacity {
  z-index: 500;
  width: 100%;
  height: 63px; }

/* line 6, scss/fragments/_sidebar.scss */
.menu {
  width: 44px;
  height: 37px;
  margin: 4px 20px 0 0;
  background: transparent url(../images/Icons/hamburger-menu.svg);
  border: none;
  top: 13px;
  cursor: pointer;
  transition: all .350s ease-in-out; }

/* line 16, scss/fragments/_sidebar.scss */
#x {
  position: absolute; }

/* line 20, scss/fragments/_sidebar.scss */
.header__sidebar {
  z-index: 1000;
  position: fixed;
  top: 0px;
  right: -300px;
  width: 241px;
  height: 100vh;
  background-color: #261F2D;
  transition: all .350s ease-in-out; }

/* line 30, scss/fragments/_sidebar.scss */
.x {
  background: transparent url(../images/Icons/x_icon.svg);
  width: 20px;
  height: 20px;
  margin: 10px 0 0 15px;
  border: none;
  cursor: pointer; }

/* line 38, scss/fragments/_sidebar.scss */
.sidebar__menu--button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 215px;
  height: 52px;
  margin: 0 auto;
  margin-bottom: 14px; }
  /* line 46, scss/fragments/_sidebar.scss */
  .sidebar__menu--button .menu--button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88px;
    height: 34px;
    background-color: #8933FF;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 1.6rem;
    line-height: 16.41px;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25); }
  /* line 60, scss/fragments/_sidebar.scss */
  .sidebar__menu--button .menu--button:hover {
    box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer; }

/* line 65, scss/fragments/_sidebar.scss */
.sidebar__lines {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 16px; }
  /* line 71, scss/fragments/_sidebar.scss */
  .sidebar__lines .line_1 {
    width: 100%;
    height: 0px;
    border-bottom: 3px solid #000000; }
  /* line 76, scss/fragments/_sidebar.scss */
  .sidebar__lines .line_2 {
    width: 100%;
    height: 0px;
    border-bottom: 3px solid #000000; }

/* line 82, scss/fragments/_sidebar.scss */
.sidebar__menu--navigation {
  display: flex;
  flex-direction: column; }

/* line 86, scss/fragments/_sidebar.scss */
.sidebar__menu--navigation .home {
  width: 36px;
  height: 37px;
  background-image: url(../images/Icons/home_icon.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 15px; }

/* line 95, scss/fragments/_sidebar.scss */
.sidebar__menu--navigation .settings {
  width: 36px;
  height: 37px;
  background-image: url(../images/Icons/settings_icon.svg);
  margin-right: 15px; }

/* line 102, scss/fragments/_sidebar.scss */
.sidebar__menu--navigation .questions {
  width: 18px;
  height: 37px;
  font-family: 'Lato';
  font-size: 45px;
  color: #C4C4C4;
  margin-right: 34px;
  padding-left: 9px;
  align-self: center;
  margin-top: -10px; }

/* line 113, scss/fragments/_sidebar.scss */
.sidebar__menu--navigation a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 30px;
  font-size: 1.8rem;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 18px; }

/* line 125, scss/fragments/_sidebar.scss */
.sidebar__menu--navigation a:hover {
  padding-left: 22px;
  cursor: pointer; }

/* line 129, scss/fragments/_sidebar.scss */
.sidebar__menu .line_3 {
  display: flex;
  margin-top: 12px;
  width: 100%;
  border-bottom: 3px solid #000000; }

/* line 135, scss/fragments/_sidebar.scss */
.sidebar__language {
  display: flex;
  flex-direction: column; }
  /* line 138, scss/fragments/_sidebar.scss */
  .sidebar__language .sidebar__language--text {
    margin: 12px 0 8px 22px;
    color: #C4C4C4;
    font-size: 1.8rem; }
  /* line 143, scss/fragments/_sidebar.scss */
  .sidebar__language .sidebar__language--select {
    margin: 0 0 0 22px;
    width: 130px;
    height: 25px;
    background-color: #261F2D;
    border: 2px solid #C4C4C4;
    color: #FFFFFF;
    font-size: 1.6rem; }
    /* line 151, scss/fragments/_sidebar.scss */
    .sidebar__language .sidebar__language--select .sidebar__language--select option {
      font-size: 1.6rem; }

/* line 156, scss/fragments/_sidebar.scss */
.sidebar__language--select:hover {
  cursor: pointer; }

/* line 159, scss/fragments/_sidebar.scss */
#check:checked ~ label #menu {
  right: 250px;
  opacity: 0%;
  pointer-events: none; }

/* line 164, scss/fragments/_sidebar.scss */
#check:checked ~ label #x {
  left: 115px; }

/* line 167, scss/fragments/_sidebar.scss */
.sidebar__contact {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 15px;
  width: 100%; }
  /* line 173, scss/fragments/_sidebar.scss */
  .sidebar__contact .sidebar__contact--title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #C4C4C4;
    padding-bottom: 12px;
    padding-left: 25px; }
  /* line 180, scss/fragments/_sidebar.scss */
  .sidebar__contact .sidebar__contact--list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
    /* line 186, scss/fragments/_sidebar.scss */
    .sidebar__contact .sidebar__contact--list i {
      font-size: 2rem;
      color: #C4C4C4; }

/* line 1, scss/fragments/_signup.scss */
main {
  min-height: calc(100vh - 63px - 15vh);
  width: 100vw;
  min-width: 320px;
  margin-top: 80px; }

/* line 7, scss/fragments/_signup.scss */
.login {
  background: radial-gradient(285.93% 161.25% at -11.11% 0%, #010039 23.75%, #8933FF 89.37%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 200px); }

/* line 16, scss/fragments/_signup.scss */
.login__container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: transparent;
  border: none;
  padding: 0px 30px;
  min-height: 700px;
  width: 100%;
  box-shadow: none; }
  /* line 26, scss/fragments/_signup.scss */
  .login__container h2 {
    font-size: 2rem;
    color: #FFFFFF;
    font-weight: 700; }

/* line 32, scss/fragments/_signup.scss */
.login__container--form {
  display: flex;
  flex-direction: column; }

/* line 36, scss/fragments/_signup.scss */
.login__container--remember-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: #C4C4C4; }
  /* line 42, scss/fragments/_signup.scss */
  .login__container--remember-me label {
    font-size: 1.6rem;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center; }
    /* line 48, scss/fragments/_signup.scss */
    .login__container--remember-me label p {
      padding-left: 5px; }
  /* line 52, scss/fragments/_signup.scss */
  .login__container--remember-me a {
    text-decoration: none;
    color: #C4C4C4;
    font-size: 1.6rem; }
  /* line 57, scss/fragments/_signup.scss */
  .login__container--remember-me a:hover {
    text-decoration: underline; }

/* line 61, scss/fragments/_signup.scss */
.login__container--social-media a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  color: #C4C4C4; }
  /* line 67, scss/fragments/_signup.scss */
  .login__container--social-media a i {
    color: #FFFFFF;
    font-size: 2.2rem; }
  /* line 71, scss/fragments/_signup.scss */
  .login__container--social-media a p {
    font-size: 1.8rem;
    color: #C4C4C4;
    font-weight: 500;
    padding-left: 8px; }

/* line 78, scss/fragments/_signup.scss */
.login__container--social-media a p:hover {
  text-decoration: underline; }

/* line 81, scss/fragments/_signup.scss */
.login__container--register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  /* line 86, scss/fragments/_signup.scss */
  .login__container--register p {
    color: #C4C4C4;
    font-size: 1.4rem;
    font-weight: 500;
    padding-right: 3px;
    text-align: center;
    padding-bottom: 5px; }
  /* line 94, scss/fragments/_signup.scss */
  .login__container--register a {
    font-size: 1.8rem;
    color: #FFFFFF;
    font-weight: 600;
    text-decoration: none; }

/* line 102, scss/fragments/_signup.scss */
.login__container--register a:hover {
  text-decoration: underline; }

/* line 105, scss/fragments/_signup.scss */
.input {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px solid #FFFFFF;
  outline: none;
  font-family: 'Mulish', sans-serif;
  font-size: 1.8rem;
  margin-bottom: 20px;
  padding: 0px 20px;
  height: 50px;
  color: #FFFFFF; }

/* line 119, scss/fragments/_signup.scss */
.input::placeholder {
  color: #FFFFFF; }

/* line 122, scss/fragments/_signup.scss */
.button {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  color: #FFFFFF;
  cursor: pointer;
  border: 0;
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  height: 50px;
  letter-spacing: 1px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center; }

/* line 138, scss/fragments/_signup.scss */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 350ms ease-in-out;
  background-color: #010039;
  z-index: 1002;
  width: 90%;
  min-height: calc(100vh - 63px - 15vh);
  padding: 0px 30px;
  border: 2px solid white;
  border-radius: 8px;
  box-shadow: none;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  /* line 155, scss/fragments/_signup.scss */
  .popup__close {
    position: fixed;
    top: 2%;
    left: 90%;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 3rem;
    color: #C4C4C4;
    font-weight: bold; }
  /* line 167, scss/fragments/_signup.scss */
  .popup__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 0 50px; }
    /* line 173, scss/fragments/_signup.scss */
    .popup__header h3 {
      color: #C4C4C4;
      font-size: 2.4rem;
      font-weight: bold;
      font-family: 'Mulish', sans-serif;
      text-decoration: underline; }
  /* line 181, scss/fragments/_signup.scss */
  .popup__content {
    padding: 0px 8px;
    color: #C4C4C4;
    font-size: 1.6rem;
    font-family: 'Mulish', sans-serif;
    text-align: center; }

/* line 189, scss/fragments/_signup.scss */
.popup.active {
  transform: translate(-50%, -50%) scale(1); }

/* line 192, scss/fragments/_signup.scss */
#overlay {
  position: fixed;
  transition: 250ms ease-in-out;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none; }

/* line 203, scss/fragments/_signup.scss */
#overlay.active {
  z-index: 1001;
  pointer-events: all;
  opacity: 1; }

/* line 1, scss/fragments/_footer.scss */
footer {
  display: flex;
  justify-content: space-evenly;
  height: 15vh;
  width: 100%;
  background-color: #010039; }

/* line 8, scss/fragments/_footer.scss */
.contact {
  width: fit-content;
  height: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  /* line 14, scss/fragments/_footer.scss */
  .contact__title {
    color: #FFFFFF;
    font-size: 1.6rem;
    font-family: 'Roboto';
    font-weight: 700; }
  /* line 20, scss/fragments/_footer.scss */
  .contact__list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer; }
    /* line 26, scss/fragments/_footer.scss */
    .contact__list li {
      width: fit-content;
      height: fit-content;
      font-size: 1.6rem;
      padding-top: 8px;
      color: #C4C4C4; }
      /* line 32, scss/fragments/_footer.scss */
      .contact__list li a {
        color: #FFFFFF; }
        /* line 34, scss/fragments/_footer.scss */
        .contact__list li a i {
          padding-right: 25px;
          font-size: 2.2rem; }
        /* line 38, scss/fragments/_footer.scss */
        .contact__list li a p {
          display: none; }

/* line 45, scss/fragments/_footer.scss */
.politics {
  height: inherit;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end; }
  /* line 52, scss/fragments/_footer.scss */
  .politics a {
    color: #FFFFFF;
    font-size: 1.6rem; }

/* line 57, scss/fragments/_footer.scss */
footer a:hover {
  text-decoration: underline; }
