/* line 7, scss/fragments/_global.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

/* line 14, scss/fragments/_global.scss */
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth; }

/* line 19, scss/fragments/_global.scss */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: radial-gradient(285.93% 161.25% at -11.11% 0%, #010039 23.75%, #8933FF 89.37%); }

/* line 1, scss/fragments/_header.scss */
header {
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #010039;
  min-width: 320px; }

/* line 10, scss/fragments/_header.scss */
.header__logo {
  width: 238px;
  height: 44px;
  margin-top: 6.5px;
  margin-left: 18px;
  margin-bottom: 6.5px;
  display: block;
  align-self: center; }

/* line 19, scss/fragments/_header.scss */
.header__logo--container {
  display: flex;
  align-items: center;
  text-decoration: none; }

/* line 24, scss/fragments/_header.scss */
.header__logo img {
  width: 29.08px;
  height: 38px; }

/* line 28, scss/fragments/_header.scss */
.header__logo h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  margin-left: 14px; }

/* line 1, scss/fragments/_sidebar.scss */
.opacity {
  z-index: 500;
  width: 100%;
  height: 63px; }

/* line 6, scss/fragments/_sidebar.scss */
.menu {
  width: 44px;
  height: 37px;
  margin: 4px 20px 0 0;
  background: transparent url(../images/Icons/hamburger-menu.svg);
  border: none;
  top: 13px;
  cursor: pointer;
  transition: all .350s ease-in-out; }

/* line 16, scss/fragments/_sidebar.scss */
#x {
  position: absolute; }

/* line 20, scss/fragments/_sidebar.scss */
.header__sidebar {
  z-index: 1000;
  position: fixed;
  top: 0px;
  right: -300px;
  width: 241px;
  height: 100vh;
  background-color: #261F2D;
  transition: all .350s ease-in-out; }

/* line 30, scss/fragments/_sidebar.scss */
.x {
  background: transparent url(../images/Icons/x_icon.svg);
  width: 20px;
  height: 20px;
  margin: 10px 0 0 15px;
  border: none;
  cursor: pointer; }

/* line 38, scss/fragments/_sidebar.scss */
.sidebar__menu--button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 215px;
  height: 52px;
  margin: 0 auto;
  margin-bottom: 14px; }
  /* line 46, scss/fragments/_sidebar.scss */
  .sidebar__menu--button .menu--button {
    width: 88px;
    height: 34px;
    background-color: #8933FF;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 1.6rem;
    line-height: 16.41px;
    text-align: center;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25); }
  /* line 58, scss/fragments/_sidebar.scss */
  .sidebar__menu--button .menu--button:hover {
    box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer; }

/* line 63, scss/fragments/_sidebar.scss */
.sidebar__lines {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 16px; }
  /* line 69, scss/fragments/_sidebar.scss */
  .sidebar__lines .line_1 {
    width: 100%;
    height: 0px;
    border-bottom: 3px solid #000000; }
  /* line 74, scss/fragments/_sidebar.scss */
  .sidebar__lines .line_2 {
    width: 100%;
    height: 0px;
    border-bottom: 3px solid #000000; }

/* line 80, scss/fragments/_sidebar.scss */
.sidebar__menu ul {
  display: flex;
  flex-direction: column; }

/* line 84, scss/fragments/_sidebar.scss */
.sidebar__menu li .home {
  width: 36px;
  height: 37px;
  background-image: url(../images/Icons/home_icon.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 15px; }

/* line 93, scss/fragments/_sidebar.scss */
.sidebar__menu li .settings {
  width: 36px;
  height: 37px;
  background-image: url(../images/Icons/settings_icon.svg);
  margin-right: 15px; }

/* line 100, scss/fragments/_sidebar.scss */
.sidebar__menu li .questions {
  width: 18px;
  height: 37px;
  font-family: 'Lato';
  font-size: 45px;
  color: #C4C4C4;
  margin-right: 34px;
  padding-left: 9px;
  align-self: center;
  margin-top: -10px; }

/* line 111, scss/fragments/_sidebar.scss */
.sidebar__menu ul a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 30px;
  font-size: 1.8rem;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 18px; }

/* line 123, scss/fragments/_sidebar.scss */
.sidebar__menu ul a:hover {
  padding-left: 22px;
  cursor: pointer; }

/* line 127, scss/fragments/_sidebar.scss */
.sidebar__menu .line_3 {
  display: flex;
  margin-top: 12px;
  width: 100%;
  border-bottom: 3px solid #000000; }

/* line 133, scss/fragments/_sidebar.scss */
.sidebar__language {
  display: flex;
  flex-direction: column; }
  /* line 136, scss/fragments/_sidebar.scss */
  .sidebar__language .sidebar__language--text {
    margin: 12px 0 8px 22px;
    color: #C4C4C4;
    font-size: 1.8rem; }
  /* line 141, scss/fragments/_sidebar.scss */
  .sidebar__language .sidebar__language--select {
    margin: 0 0 0 22px;
    width: 130px;
    height: 25px;
    background-color: #261F2D;
    border: 2px solid #C4C4C4;
    color: #FFFFFF;
    font-size: 1.6rem; }
    /* line 149, scss/fragments/_sidebar.scss */
    .sidebar__language .sidebar__language--select .sidebar__language--select option {
      font-size: 1.6rem; }

/* line 154, scss/fragments/_sidebar.scss */
.sidebar__language--select:hover {
  cursor: pointer; }

/* line 157, scss/fragments/_sidebar.scss */
#check:checked ~ label #menu {
  right: 250px;
  opacity: 0%;
  pointer-events: none; }

/* line 162, scss/fragments/_sidebar.scss */
#check:checked ~ label #x {
  left: 115px; }

/* line 1, scss/fragments/_main.scss */
main {
  height: 80vh;
  width: 100vw;
  min-width: 320px; }

/* line 6, scss/fragments/_main.scss */
hr {
  width: 0px;
  height: 0px;
  border: 0px; }

/* line 11, scss/fragments/_main.scss */
.title h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 2.5rem;
  font-size: 3.4rem;
  width: 310px;
  height: 80px;
  color: white; }

/* line 23, scss/fragments/_main.scss */
.title h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 264px;
  height: 35px;
  margin-top: .4rem;
  font-size: 1.6rem;
  color: #C4C4C4; }

/* line 35, scss/fragments/_main.scss */
footer {
  width: 100%;
  height: 5rem; }

/* line 1, scss/fragments/_carousel.scss */
.carousel {
  padding-left: 1rem;
  position: relative;
  width: 100vw;
  height: fit-content;
  overflow: hidden; }
  /* line 7, scss/fragments/_carousel.scss */
  .carousel__title {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 28.13px;
    margin: 40px 0 8px 5.5%;
    color: #FFFFFF; }

/* line 15, scss/fragments/_carousel.scss */
.carousel__container {
  width: 100%;
  height: 260px;
  margin-top: 15px;
  padding: 0 5%; }
  /* line 20, scss/fragments/_carousel.scss */
  .carousel__container .swiper-container {
    width: 100%;
    height: 260px; }
    /* line 23, scss/fragments/_carousel.scss */
    .carousel__container .swiper-container .swiper-slide {
      background-color: white;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      border-radius: 8px; }
      /* line 29, scss/fragments/_carousel.scss */
      .carousel__container .swiper-container .swiper-slide .carousel__item--img {
        width: 100%;
        border-radius: 6px; }
    /* line 34, scss/fragments/_carousel.scss */
    .carousel__container .swiper-container .swiper-button-next, .carousel__container .swiper-container .swiper-button-prev {
      height: 100%;
      width: 4%;
      top: 0;
      bottom: 0;
      margin: 0;
      background-color: rgba(0, 0, 0, 0.4); }

/* line 45, scss/fragments/_carousel.scss */
.carousel img {
  max-width: 100%;
  height: auto; }

/* line 49, scss/fragments/_carousel.scss */
.carousel .swiper-slide {
  transition: 250ms all; }
  /* line 52, scss/fragments/_carousel.scss */
  .carousel .swiper-slide:hover {
    transform: scale(1.2);
    z-index: 1; }

/* line 58, scss/fragments/_carousel.scss */
.information {
  border-radius: 8px;
  padding: 10px; }
  /* line 61, scss/fragments/_carousel.scss */
  .information h3 {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    color: black; }
  /* line 67, scss/fragments/_carousel.scss */
  .information .information__container--text {
    padding-top: 5px;
    display: flex;
    justify-content: space-between; }
    /* line 71, scss/fragments/_carousel.scss */
    .information .information__container--text p {
      font-size: 1.4rem;
      font-weight: 500;
      color: #261F2D; }
