/* line 7, scss/fragments/_global.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

/* line 14, scss/fragments/_global.scss */
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth; }

/* line 19, scss/fragments/_global.scss */
body {
  background: radial-gradient(285.93% 161.25% at -11.11% 0%, #010039 23.75%, #8933FF 89.37%); }

/* line 1, scss/fragments/_header.scss */
header {
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #010039;
  min-width: 320px; }

/* line 10, scss/fragments/_header.scss */
.header__logo {
  width: 238px;
  height: 44px;
  margin-top: 6.5px;
  margin-left: 18px;
  margin-bottom: 6.5px;
  display: block;
  align-self: center; }

/* line 19, scss/fragments/_header.scss */
.header__logo--container {
  display: flex;
  align-items: center;
  text-decoration: none; }

/* line 24, scss/fragments/_header.scss */
.header__logo img {
  width: 29.08px;
  height: 38px; }

/* line 28, scss/fragments/_header.scss */
.header__logo h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  margin-left: 14px; }

/* line 1, scss/fragments/_sidebar.scss */
#check {
  display: none; }

/* line 4, scss/fragments/_sidebar.scss */
label #menu, label #x {
  position: absolute;
  cursor: pointer;
  transition: all .350s ease-in-out; }

/* line 9, scss/fragments/_sidebar.scss */
label #menu {
  background-image: url(../images/Icons/hamburger-menu.svg);
  width: 44px;
  height: 37px;
  left: 80%;
  top: 13px; }

/* line 16, scss/fragments/_sidebar.scss */
label #x {
  z-index: 1111;
  background-image: url(../images/Icons/x_icon.svg);
  width: 20px;
  height: 20px;
  left: -148px;
  top: 7px; }

/* line 24, scss/fragments/_sidebar.scss */
.header__sidebar {
  z-index: 1000;
  position: absolute;
  top: 0;
  right: -300px;
  width: 241px;
  height: 100vh;
  background-color: #261F2D;
  transition: all .350s ease-in-out; }

/* line 34, scss/fragments/_sidebar.scss */
.sidebar__menu--button {
  display: inline-block;
  margin-top: 35px;
  margin-left: 12px;
  width: 98px;
  height: 32px;
  background-color: #8933FF;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 1.6rem;
  line-height: 16.41px;
  text-align: center;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25); }

/* line 49, scss/fragments/_sidebar.scss */
.sidebar__menu--button:hover {
  box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer; }

/* line 53, scss/fragments/_sidebar.scss */
.sidebar__menu .line_1 {
  position: absolute;
  width: 100%;
  height: 0px;
  left: 0px;
  top: 95px;
  border: 1px solid #000000; }

/* line 61, scss/fragments/_sidebar.scss */
.sidebar__menu .line_2 {
  position: absolute;
  width: 100%;
  height: 0px;
  left: 0px;
  top: 103px;
  border: 1px solid #000000; }

/* line 69, scss/fragments/_sidebar.scss */
.sidebar__menu ul {
  display: block; }

/* line 72, scss/fragments/_sidebar.scss */
.sidebar__menu li .home {
  width: 36px;
  height: 37px;
  background-image: url(../images/Icons/home_icon.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 15px; }

/* line 81, scss/fragments/_sidebar.scss */
.sidebar__menu li .settings {
  width: 36px;
  height: 37px;
  background-image: url(../images/Icons/settings_icon.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 15px; }

/* line 90, scss/fragments/_sidebar.scss */
.sidebar__menu li .questions {
  width: 18px;
  height: 37px;
  font-family: 'Lato';
  font-size: 45px;
  color: #C4C4C4;
  margin-right: 34px;
  padding-left: 9px;
  align-self: center;
  margin-top: -10px; }

/* line 101, scss/fragments/_sidebar.scss */
.sidebar__menu ul a {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  top: 30px;
  font-size: 1.8rem;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 18px; }

/* line 114, scss/fragments/_sidebar.scss */
.sidebar__menu ul a:hover {
  padding-left: 22px;
  cursor: pointer; }

/* line 118, scss/fragments/_sidebar.scss */
.sidebar__menu .line_3 {
  position: absolute;
  width: 100%;
  top: 300px;
  border: 1px solid #000000;
  background-color: #000000; }

/* line 125, scss/fragments/_sidebar.scss */
.sidebar__menu--language {
  position: absolute;
  left: 22px;
  top: 320px;
  color: #C4C4C4;
  font-size: 1.8rem; }

/* line 132, scss/fragments/_sidebar.scss */
.sidebar__menu--select {
  position: absolute;
  left: 22px;
  top: 345px;
  width: 130px;
  height: 25px;
  background-color: #261F2D;
  border: 2px solid #C4C4C4;
  color: #FFFFFF;
  font-size: 1.6rem; }

/* line 143, scss/fragments/_sidebar.scss */
.sidebar__menu--select option {
  font-size: 1.6rem; }

/* line 146, scss/fragments/_sidebar.scss */
.sidebar__menu--select:hover {
  cursor: pointer; }

/* line 149, scss/fragments/_sidebar.scss */
#check:checked ~ .header__sidebar {
  right: 0; }

/* line 152, scss/fragments/_sidebar.scss */
#check:checked ~ label #menu {
  right: 250px;
  opacity: 0%;
  pointer-events: none; }

/* line 157, scss/fragments/_sidebar.scss */
#check:checked ~ label #x {
  left: 90px; }

/* line 1, scss/fragments/_main.scss */
main {
  height: 80vh;
  width: 100%;
  min-width: 320px; }

/* line 6, scss/fragments/_main.scss */
hr {
  width: 0px;
  height: 0px;
  border: 0px; }

/* line 11, scss/fragments/_main.scss */
.title h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 2.5rem;
  font-size: 3.4rem;
  width: 310px;
  height: 80px;
  color: white; }

/* line 23, scss/fragments/_main.scss */
.title h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 264px;
  height: 35px;
  margin-top: .4rem;
  font-size: 1.6rem;
  color: #C4C4C4; }

/* line 35, scss/fragments/_main.scss */
.categories__title {
  font-size: 1.5rem;
  margin: 2rem 0 .7rem 1rem; }

/* line 39, scss/fragments/_main.scss */
.carousel {
  padding-left: 1rem;
  position: relative;
  width: 100%; }

/* line 44, scss/fragments/_main.scss */
.carousel__container {
  font-size: 0;
  white-space: nowrap;
  margin: 1rem 1rem;
  padding: 1rem 0; }

/* line 50, scss/fragments/_main.scss */
.carousel-item {
  width: 22rem;
  height: 14rem;
  border-radius: 25px;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transform-origin: center left;
  position: relative; }

/* line 61, scss/fragments/_main.scss */
.carousel-item__img {
  width: 22rem;
  height: 14rem;
  object-fit: cover; }

/* line 66, scss/fragments/_main.scss */
footer {
  width: 100%;
  height: 5rem; }
