footer{
    display: flex;
    justify-content: space-evenly;
    height: 15vh;
    width: 100%;
    background-color: $secondary_purple;
}
.contact{
    width: fit-content;
    height: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
    &__title{
        color: $white;
        font-size: 1.6rem;
        font-family: 'Roboto';
        font-weight: 700;
    }
    &__list{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        cursor: pointer;
        list-style: none;
        & li{
            width: fit-content;
            height: fit-content;
            font-size: 1.6rem;
            padding-top: 8px;
            color: $main-gray;
            & a{
                color: $white;
                & i{
                    padding-right: 25px;
                    font-size: 2.2rem;
                }
                & p{
                    display: none;
                }
            }
        }
    }
}
.politics{
    height: inherit;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    & a{
        color: $white;
        font-size: 1.6rem;
    }
}
footer a:hover{
    text-decoration: underline;
}