.opacity{
    z-index: 500;
    width: 100%;
    height: 63px;
}
.menu{
    width: 44px;
    height: 37px;
    margin: 4px 20px 0 0;
    background: transparent url(../images/Icons/hamburger-menu.svg);
    border: none;
    top: 13px;
    cursor: pointer;
    transition: all .350s ease-in-out;
}
#x{
    position: absolute;
    
}
.header__sidebar{
    z-index: 1000;
    position: fixed;
    top: 0px;
    right: -300px;
    width: 241px;
    height: 100vh;
    background-color: $gray-buttons;
    transition: all .350s ease-in-out; 
}
.x{
    background: transparent url(../images/Icons/x_icon.svg);
    width: 20px;
    height: 20px;
    margin: 10px 0 0 15px;
    border: none;
    cursor: pointer;
}
.sidebar__menu--button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 215px;
    height: 52px;
    margin: 0 auto;
    margin-bottom: 14px;
    .menu--button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 88px;
        height: 34px;
        background-color: $main-purple;
        border: none;
        border-radius: 8px;
        color: $white;
        font-size: 1.6rem;
        line-height: 16.41px;
        box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    }
    .menu--button:hover{
        box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }
}
.sidebar__lines{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 16px;
    .line_1{
        width: 100%;
        height: 0px;
        border-bottom: 3px solid #000000;
    }
    .line_2{
        width: 100%;
        height: 0px;
        border-bottom: 3px solid #000000;
    }
}
.sidebar__menu--navigation{
    display: flex;
    flex-direction: column;
}
.sidebar__menu--navigation .home{
    width: 36px;
    height: 37px;
    background-image: url(../images/Icons/home_icon.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 15px;
}
.sidebar__menu--navigation .settings{
    width: 36px;
    height: 37px;
    background-image: url(../images/Icons/settings_icon.svg);
    
    margin-right: 15px;
}
.sidebar__menu--navigation .questions{
    width: 18px;
    height: 37px;
    font-family: 'Lato';
    font-size: 45px;
    color: $main-gray;
    margin-right: 34px;
    padding-left: 9px;
    align-self: center;
    margin-top: -10px;
}
.sidebar__menu--navigation a{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 30px;
    font-size: 1.8rem;
    color: $white;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 18px;
}
.sidebar__menu--navigation a:hover{
    padding-left: 22px;
    cursor: pointer;
}
.sidebar__menu .line_3{
    display: flex;
    margin-top: 12px;
    width: 100%;
    border-bottom: 3px solid #000000;
}
.sidebar__language{
    display: flex;
    flex-direction: column;
    .sidebar__language--text{
        margin: 12px 0 8px 22px;
        color: $main-gray;
        font-size: 1.8rem;
    }
    .sidebar__language--select{
        margin: 0 0 0 22px;
        width: 130px;
        height: 25px;
        background-color: $gray-buttons;
        border: 2px solid $main-gray;
        color: $white;
        font-size: 1.6rem;
        .sidebar__language--select option{
            font-size: 1.6rem;
        }
    }
}
.sidebar__language--select:hover{
    cursor: pointer;
}
#check:checked ~ label #menu{
    right: 250px;
    opacity: 0%;
    pointer-events: none;
}
#check:checked ~ label #x{
    left: 115px;
}
.sidebar__contact{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 15px;
    width: 100%;
    .sidebar__contact--title{
        font-size: 1.8rem;
        font-weight: 700;
        color: $main-gray;
        padding-bottom: 12px;
        padding-left: 25px;
    }
    .sidebar__contact--list{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        & i{
            font-size: 2rem;
            color: $main-gray;
        }
    }  
}