main{
    min-height: calc(100vh - 63px - 15vh);
    width: 100vw;
    min-width: 320px;
    margin-top: 80px;
}
.login{
    background: radial-gradient(285.93% 161.25% at -11.11% 0%, #010039 23.75%, #8933FF 89.37%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 0px 30px 0px;
    min-height: calc(100vh - 200px);
}
.login__container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: transparent;
    border: none;
    padding: 0px 30px;
    min-height: 700px;
    width: 100%;
    box-shadow: none;
    & h2{
        font-size: 2rem;
        color: $white;
        font-weight: 700;
    }
}
.login__container--form{
    display: flex;
    flex-direction: column;
}
.login__container--remember-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: $main-gray;
    & label{
        font-size: 1.6rem;
        padding-bottom: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        & p{
            padding-left: 5px;
        }
    }
    & a{
        text-decoration: none;
        color: $main-gray;
        font-size: 1.6rem;
    }
    & a:hover{
        text-decoration: underline;
    }
}
.login__container--social-media a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    color: $main-gray;
    & i{
        color: $white;
        font-size: 2.2rem;
    }
    & p{
        font-size: 1.8rem;
        color: $main-gray;
        font-weight: 500;
        padding-left: 8px;
    }
}
.login__container--social-media a p:hover{
    text-decoration: underline;
}
.login__container--register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & p{
        color: $main-gray;
        font-size: 1.4rem;
        font-weight: 500;
        padding-right: 3px;
        text-align: center;
        padding-bottom: 5px;
    }
    & a{
    font-size: 1.8rem;
    color: $white;
    font-weight: 600;
    text-decoration: none;
    }
}

.login__container--register a:hover{
    text-decoration: underline;
}
.input{
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 2px solid $white;
    outline: none;
    font-family: 'Mulish', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 20px;
    padding: 0px 20px;
    height: 50px;
    color: $white;
}
.input::placeholder{
    color: $white;
}
.button{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    color: $white;
    cursor: pointer;
    border: 0;
    font-size: 1.8rem;
    font-family: 'Mulish', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 350ms ease-in-out;
    background-color: $secondary-purple;
    z-index: 100;
    width: 90%;
    min-height: calc(100vh - 63px - 15vh);
    padding: 0px 30px;
    border: 2px solid white;
    border-radius: $border-radius;
    box-shadow: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    &__close{
        position: fixed;
        top: 2%;
        left: 90%;
        cursor: pointer;
        border: none;
        outline: none;
        background: none;
        font-size: 3rem;
        color: $main-gray;
        font-weight: bold;
    }
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 0 0 50px;
        & h3{
            color: $main-gray;
            font-size: 2.4rem;
            font-weight: bold;
            font-family: 'Mulish', sans-serif;
            text-decoration: underline;
        }
    }
    &__content{
        padding: 0px 8px;
        color: $main-gray;
        font-size: 1.6rem;
        font-family: 'Mulish', sans-serif;
        text-align: center;
    }
}
.popup.active{
    transform: translate(-50%, -50%) scale(1);
}
#overlay{
    position: fixed;
    transition: 250ms ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}
#overlay.active{
    pointer-events: all;
    opacity: 1;
}