:root{
    --main-purple: #8933FF;
    --secundary-purple: #010039;
    --gray-buttons: #261F2D;
    --main-gray: #C4C4C4;
    --white: #FFFFFF;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
.header__sidebar{
    position: fixed;
    left: 0;
    width: 241px;
    height: 100%;
    background-color: var(--gray-buttons);
}
.sidebar__menu .login{
    position: absolute;
    width: 98px;
    height: 32px;
    top: 35px;
    left: 12px;
    background-color: var(--main-purple);
    border: none;
    border-radius: 8px;
    font-family: 'Roboto';
    color: var(--white);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 16.41px;
    text-align: center;
}
.sidebar__menu .signup{
    position: absolute;
    width: 98px;
    height: 32px;
    top: 35px;
    left: 124px;
    background-color: var(--main-purple);
    border: none;
    box-shadow: none;
    border-radius: 8px;
    font-family: 'Roboto';
    color: var(--white);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 16.41px;
    text-align: center;
}
.sidebar__menu .line_1{
    position: absolute;
    width: 241px;
    height: 0px;
    left: 0px;
    top: 95px;
    border: 1px solid #000000;
}
.sidebar__menu .line_2{
    position: absolute;
    width: 241px;
    height: 0px;
    left: 0px;
    top: 103px;
    border: 1px solid #000000;
}
.sidebar__menu li .home{
    position: absolute;
    display: inline-block;
    width: 36px;
    height: 37px;
    left: 21px;
    top: 120px;
    background-image: url(./images/Icons/home_icon.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sidebar__menu li .settings{
    position: absolute;
    display: inline-block;
    width: 36px;
    height: 37px;
    left: 21px;
    top: 174px;
    background-image: url(./images/Icons/settings_icon.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sidebar__menu li .questions{
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 54px;
    left: 28px;
    top: 222px;
    font-family: 'Lato';
    line-height: 54px;
    font-size: 45px;
    color: var(--main-gray);
}
.sidebar__menu ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 1.4rem;
    color: var(--white);
    padding-left: 18px;
}