label #menu{
    left: 80%;
    top: 13px;
}
.header__sidebar{
    width: 254px; 
}
.sidebar__menu--button{
    width: 226px;
}
.menu--button{
    width: 98px;
}
#check:checked ~ label #x{
    left: 135px;
}