main{
    min-height: calc(100vh - 63px - 90px);
    width: 100vw;
    min-width: 320px;
    margin-top: 80px;
}
#content{
    z-index: 900;
    height: 100%;
    width: 100%;
}
.video{
    max-width: 885px;
    min-width: none;
    max-height: 498px;
    padding-top: 10px;
    margin: 3em auto;
}
.iframe__container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    & iframe{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
  }
.description{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    background-color: $gray-buttons;
    &__title{
        margin-top: 12px;
        padding-left: calc(0% + 2%);
        & h1{
            color: $white;
            font-weight: 700;
            font-size: 2rem;
            margin: 0 auto;
        }
    }
    &__creator{
        margin-top: 15px;
        margin-left: calc(100% - 56%);
        width: 180px;
        height: 100%;
        background-color: $white;
        border-radius: 15px;
        display: flex;
        & p{
            color: $gray-buttons;
            font-weight: 400;
            font-size: 1.4rem;
            margin: 0 auto;
            justify-content: center;
        }
    }
    &__text{
        padding-left: calc(0% + 2%);
        width: 100%;
        height: 100%;
        & p{
            color: $white;
            font-size: 1.4rem;
            padding-top: 15px;
            margin-bottom: 15px;
        }
    }
}